streamlit
langchain
langchain-community
langchain-huggingface
langchain-ollama
faiss-cpu
pinecone-client
fpdf>=1.7.2
pypdf>=4.2.0
PyPDF2>=3.0.1
tiktoken
python-dotenv
sentence-transformers
ollama
scikit-learn
